@mixin clearfix {
	&::after {
		content: '';
		display: table;
		clear: both; // left and right
	}
}

@mixin absCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// what the clearfix does is to append a pseudo element after the element which will then clear these floats.
// What we can do is to use the & operator
// .row::after { }
